

.womencontainer {

    display: flex;
}


.Productlistswomen {

    width:475px;
    height:390px;
    border:1px soild black;
      
  
  }
  
  
  .Productlistswomen > img {
  
      width:400px;
      height:300px;
      object-fit: contain;
  }
  
  
  .description {
  
      text-align: center;
  
  }